.container {
  padding: 0 2rem;
}

.header {
  border-bottom: 1px solid #eaeaea;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  max-width: fit-content;
  gap: 1rem 2rem;
  margin: auto;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.15s ease;
}

.link:hover,
.link:focus,
.link:active {
  color: #00f371;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: 3rem;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.description {
  width: 100%;
  font-size: 1.5rem;
}

.imageContainer {
  display: block;
  max-width: 700px;
  min-height: 100%;
  border: 1px solid #eee;
  margin-inline: auto;
}

.figure {
  padding: 0;
  margin: 1rem auto 2rem;
  max-width: 700px;
}
.figure img {
  width: 100%;
  aspect-ratio: 5/3;
}
.figure figcaption {
  padding: 0 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #777;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .header,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
}
